[Unit]
Description=OpenRC
After=multi-user.target

[Service]
Type=oneshot
ExecStartPre=/bin/mkdir -p /run/openrc
ExecStartPre=/bin/touch /run/openrc/softlevel
ExecStart=/sbin/openrc default
RemainAfterExit=true

[Install]
WantedBy=default.target
