name: abuild
on: push
jobs:
  diff:
    runs-on: ubuntu-latest
    container: alpine:edge
    outputs:
      apkbuilds: ${{ steps.diff.outputs.apkbuilds}}
    steps:
      - name: deps
        run: apk add git jq
      - uses: actions/checkout@v6
      - name: diff
        id: diff
        run: |
          # actions/checkout#2301
          git config --global --add safe.directory "$GITHUB_WORKSPACE"

          git fetch origin ${{ github.event.before }}
          APKBUILDS=$( \
            git diff --diff-filter=AM --numstat \
              ${{ github.event.before }} ${{ github.event.after }} \
              | cut -f 3 | grep 'APKBUILD$' | cut -d '/' -f 1-2
          )
          echo "$APKBUILDS"
          printf 'apkbuilds=%s\n' \
            "$(printf '%s' "$APKBUILDS" | jq -nRc '[inputs]')" >> "$GITHUB_OUTPUT"
  build:
    runs-on: ubuntu-latest
    container: alpine:edge
    needs: diff
    if: ${{ needs.diff.outputs.apkbuilds != '[]' }}
    strategy:
      matrix:
        apkbuild: ${{ fromJSON(needs.diff.outputs.apkbuilds) }}
      fail-fast: false
    steps:
      - name: deps
        run: apk add git abuild
      - uses: actions/checkout@v6
      - name: setup
        env:
          ABUILD_PRIV_KEY: ${{ secrets.ABUILD_PRIV_KEY }}
          ABUILD_PRIV_KEY_NAME: xdavidwu-GitHub-Actions-6946aa19.rsa
        run: |
          mkdir ~/.abuild
          echo "$ABUILD_PRIV_KEY" > ~/.abuild/"$ABUILD_PRIV_KEY_NAME"
          cp "$ABUILD_PRIV_KEY_NAME".pub ~/.abuild/
          cat <<EOF > ~/.abuild/abuild.conf
          PACKAGER="GitHub Actions on xdavidwu/apkbuilds <xdavidwuph@gmail.com>"
          PACKAGER_PRIVKEY="$HOME/.abuild/$ABUILD_PRIV_KEY_NAME"
          EOF

          cp "$ABUILD_PRIV_KEY_NAME".pub /etc/apk/keys/
      - name: build
        run: |
          cd "${{ matrix.apkbuild }}"
          abuild -Fr
          cp ~/packages/*/*/*.apk .
      - name: artifact-name
        id: artifact-name
        run: |
          echo name="$(echo "${{ matrix.apkbuild }}" | sed 's|/|_|g')" \
            >> "$GITHUB_OUTPUT"
      - uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.artifact-name.outputs.name }}
          path: ${{ matrix.apkbuild }}/*.apk
