name: abuild
on: push
jobs:
  diff:
    runs-on: ubuntu-latest
    container: alpine:edge
    outputs:
      apkbuilds: ${{ steps.diff.outputs.apkbuilds}}
    steps:
      - name: deps
        run: apk add git jq
      - uses: actions/checkout@v6
      - name: diff
        id: diff
        run: |
          # actions/checkout#2301
          git config --global --add safe.directory "$GITHUB_WORKSPACE"

          git fetch origin ${{ github.event.before }}
          APKBUILDS=$( \
            git diff --diff-filter=AM --numstat \
              ${{ github.event.before }} ${{ github.event.after }} \
              | cut -f 3 | grep 'APKBUILD$' | cut -d '/' -f 1-2
          )
          echo "$APKBUILDS"
          printf 'apkbuilds=%s\n' \
            "$(printf '%s' "$APKBUILDS" | jq -nRc '[inputs]')" >> "$GITHUB_OUTPUT"
  build:
    runs-on: ubuntu-latest
    container: alpine:edge
    needs: diff
    if: ${{ needs.diff.outputs.apkbuilds != '[]' }}
    continue-on-error: true
    strategy:
      matrix:
        apkbuild: ${{ fromJSON(needs.diff.outputs.apkbuilds) }}
      fail-fast: false
    steps:
      - name: deps
        run: apk add git abuild
      - uses: actions/checkout@v6
      - &abuild-keys
        name: setup
        env:
          ABUILD_PRIV_KEY: ${{ secrets.ABUILD_PRIV_KEY }}
          ABUILD_PRIV_KEY_NAME: xdavidwu-GitHub-Actions-6946aa19.rsa
        run: |
          mkdir ~/.abuild
          echo "$ABUILD_PRIV_KEY" > ~/.abuild/"$ABUILD_PRIV_KEY_NAME"
          cp "$ABUILD_PRIV_KEY_NAME".pub ~/.abuild/
          cat <<EOF > ~/.abuild/abuild.conf
          PACKAGER="GitHub Actions on xdavidwu/apkbuilds <xdavidwuph@gmail.com>"
          PACKAGER_PRIVKEY="$HOME/.abuild/$ABUILD_PRIV_KEY_NAME"
          EOF

          cp "$ABUILD_PRIV_KEY_NAME".pub /etc/apk/keys/
      - name: build
        run: |
          cd "${{ matrix.apkbuild }}"
          abuild -Fr
          cp -a ~/packages/*/*/*.apk .
      - name: artifact-name
        id: artifact-name
        run: |
          echo name="$(echo "${{ matrix.apkbuild }}" | sed 's|/|_|g')" \
            >> "$GITHUB_OUTPUT"
      - uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.artifact-name.outputs.name }}
          path: ${{ matrix.apkbuild }}/*.apk
  pages:
    runs-on: ubuntu-latest
    container: alpine:edge
    needs: build
    if: ${{ github.ref == 'refs/heads/main' }}
    env:
      ARCH: x86_64
      DIST: edge
    steps:
      - name: deps
        run: apk add git abuild lftp go
      - uses: actions/checkout@v6
      - *abuild-keys
      - uses: actions/download-artifact@v7
        with:
          pattern: '*_*'
      - name: mirror
        continue-on-error: true
        run: lftp -e 'mirror . _site' https://alpine.xdavidwu.link
      - name: key
        env:
          ABUILD_PRIV_KEY_NAME: xdavidwu-GitHub-Actions-6946aa19.rsa
        run: |
          mkdir -p _site
          test -f _site/"$ABUILD_PRIV_KEY_NAME".pub \
            || cp -a "$ABUILD_PRIV_KEY_NAME".pub _site/
      - name: copy
        run: |
          for i in *_*/*.apk; do
            test "$i" != "*_*/*.apk"
            repo=$(echo "$i" | cut -d '_' -f 1)
            dir="_site/$DIST/$repo/$ARCH"
            mkdir -p "$dir"
            cp -a "$i" "$dir"
          done
      - name: apk-index
        run: |
          for repo in $(ls -1 *_*/*.apk | cut -d '_' -f 1 | sort | uniq); do
            # TODO v3 index
            cd "_site/$DIST/$repo/$ARCH"
            old_index=$([ -f APKINDEX.tar.gz ] && echo '-x APKINDEX.tar.gz' || true)
            apk index *.apk -o .APKINDEX.tar.gz $old_index \
              --rewrite-arch "$ARCH" --no-warnings -d $(date +%Y%m%d-%H%M%S)
            abuild-sign .APKINDEX.tar.gz
            mv .APKINDEX.tar.gz APKINDEX.tar.gz
          done
      - name: html-index
        run: go run github.com/xdavidwu/listables/cmd/listem@latest -r _site
      - uses: actions/upload-pages-artifact@v4
  deploy:
    needs: pages
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
